<style>
    /*Estilo para o footer*/
    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
    .footer{
        background-color: rgb(169, 51, 51);
    }
</style>
<center>
    <footer class="footer">
        <div class="container">
            <span class="text-light">@Todos los derechos reservados por EmilioFlores 2024</span>
        </div>
    </footer>
</center>