<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-left">
        <div>
            <div class="navbar-nav">
                <a class="nav-link" href="">Acerca de</a>
                <a class="nav-link" href="">Pago de Recibo</a>
                <a class="nav-link" href="">Contactos</a>
            </div>
        </div>
    </div>
</nav>