<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compania de luz</title>
</head>
<body>
    <%-include('partials/header.ejs')%>

    <%-include('partials/nav.ejs')%>
    
    <div class="formulario">
    
    <div class="formularioLuz">
    <form id="formularioLuz" action="/" method="post">
        <label for="">Numero Recibo</label>
        <input type="number" name="NRecibo" id="NRecibo" required value=<%=NRecibo%>> <br>
        <label for="">Nombre</label>
        <input type="text" name="Nombre" id="Nombre" required value=<%=Nombre%>> <br>
        <label for="">Domicilio</label>
        <input type="text" name="Domicilio" id="Domicilio" required value=<%=Domicilio%>> <br>
        <label for="">Numero Recibo</label>
        <select name="Servicio" id="Servicio" value="<%=Servicio%>">
            <option value="1">Domestico</option>
            <option value="2">Comercial</option>
            <option value="3">Industrial</option>
        </select> <br>
        <label for="">Killowatts consumidos</label>
        <input type="text" name="KWC" id="KWC" required value=<%=KWC%>> <br>
        <button class="btn btn-primary mt-3" type="submit">Enviar Informacion</button>
        <a class="btn btn-primary mt-3" href="/" id="limpiar">Limpiar</a>
    </form>
    </div>
    
    </div>

    <%
    let precio = 0;
    if(Servicio == 1){
        precio = 1.08;
    }else if(Servicio == 2){
        precio = 2.5;
    }else if(Servicio == 3){
        precio = 3;
    }

    let subtotal = KWC * precio;
    let descuento = 0;

    if(KWC <= 1000){
        descuento = subtotal*.10;
    }else if(KWC >= 1000){
        descuento = subtotal*.20;
    }else if(KWC > 10000){
        descuento = subtotal*.50;
    }

    let impuesto = subtotal * .16;

    let total = subtotal+impuesto-descuento;

    %>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Numero</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Kiowatts Consumidos</th>
            <th scope="col">Costo por Kiowatts</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= NRecibo %></td>
            <td><%= Nombre %></td>
            <td><%= Servicio %></td>
            <td><%= KWC %></td>
            <td><%= precio %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Subtotal:</td>
            <td><%= subtotal.toFixed(2) %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Impuesto:</td>
            <td><%= impuesto.toFixed(2) %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Descuento:</td>
            <td><%= descuento.toFixed(2) %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total a pagar:</td>
            <td><%= total.toFixed(2) %></td>
          </tr>
        </tbody>
      </table>


    <%-include('partials/footer.ejs')%>
    <style>
        .formulario{
            padding: 20px;
            background-color: rgb(78, 143, 55);

            
        }
        .formularioLuz{
            border-radius: 2px;
            padding: 10px;
            margin: 10px;
            border: 2px solid black;
            width: 30%;
            margin-left: 35%;
        }
    </style>

</body>
</html>